@model IEnumerable<OnlineLib.Models.Book>

@{
    ViewBag.Title = "Books List";
}
<div>

    <h2>@ViewBag.Name</h2>
    @if (ViewBag.LibOwner == true)
    {
        @Html.ActionLink("Library Manager", "Index", "LibraryManager", new object(), new { @lib = ViewBag.Library, @class = "btn btn-primary pull-right" })
    }
</div>


<p>
    <div>
        @if (ViewBag.Worker)
        {
            <row>
                <div class="formbox col-sm-3" style="padding: 20px 20px">
                    @Html.ActionLink("Add new book", "Add", "Books", new { @lib = ViewBag.Library }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Print labels", "SelectToPrint", "Books", new { @lib = ViewBag.Library }, new { @class = "btn btn-primary" })
                </div>
                <div class="formbox col-sm-3 pull-right" style="padding: 20px 20px">
                    @Html.ActionLink("Return Book", "ReturnBook", "Loans", new { @lib = ViewBag.Library }, new { @class = "btn btn-primary pull-right" })
                    @Html.ActionLink("Loan Book", "NewLoan", "Loans", new { @lib = ViewBag.Library }, new { @class = "btn btn-primary pull-right" })
                </div>
            </row>
            
         

        }

    </div>
</p>
<div class="formbox col-sm-12">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Autor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lended)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Isbn)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Autor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lended)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Isbn)
                    </td>
                    <td>
                        @if (ViewBag.Worker)
                        {
                            @Html.ActionLink("Edit", "Edit", "Books", new { id = item.Id }, new { @class = "btn btn-sm btn-default" })
                            @Html.ActionLink("Drukuj", "PdfGeneratorBook", "Books", new { id = item.Id }, new { @class = "btn btn-sm btn-success" })

                            @Html.ActionLink("Delete", "Delete", "Books", new { @id = item.Id }, new { @class = "btn btn-sm btn-danger" })
                        }
                        @Html.ActionLink("Loan", "NewLoan", "Loans", new { @bookid = item.ShortId }, new { @class = "btn btn-sm btn-info" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

