@model ICollection<OnlineLib.Repository.ViewModels.ListWorkersViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New worker", "AddWorker", "LibraryManager", new { @lib = ViewBag.Library, @class="btn btn-default" })
    @Html.ActionLink("Edit Welcome text", "EditLibraryText", "LibraryManager", new { @lib = ViewBag.Library , @class="btn btn-default"})
    @Html.ActionLink("Search new worker", "SearchWorker", "LibraryManager", new { @lib = ViewBag.Library, @class = "btn btn-default" })


</p>
<table class="table">
    <tr>
        <th>
           Firstname and lastname
        </th>
        <th>
           City
        </th>
       
        <th>
            
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "EditWorker", "LibraryManager", new {@user = item.Id, @lib = ViewBag.Library} , null)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Drukuj", "PdfGeneratorBook", new { id = item.Id }) |

                @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>

