@model ICollection<OnlineLib.Repository.ViewModels.ListWorkersViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AddWorker", "LibraryManager", new { @lib = ViewBag.Library })
</p>
<table class="table">
    <tr>
        <th>
           Firstname and lastname
        </th>
        <th>
           City
        </th>
        <th>
           Street and number
        </th>

        <th>
            Role
        </th>
        <th>
            
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Drukuj", "PdfGeneratorBook", new { id = item.Id }) |

                @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>

