@model IEnumerable<OnlineLib.Models.Library>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
 <div class="row">
    @using (@Html.BeginForm())
    {

        <div class="col-sm-4 formbox form-horizontal">
            <div class="row">
                <div class="col-xs-9">
                    <input type="text" name="Search" class="form-control" />
                </div>
                <div class="col-xs-3">
                    <button type="submit" class="btn-block btn btn-primary">Search</button>
                </div>    
            </div>
            
        </div>
    }
    <div class="col-sm-12 formbox">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th colspan="2">
                        @Html.DisplayNameFor(model => model.Address.City)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Name, "Index", "Library", new { lib = item.Id }, null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address.Street)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>