@model OnlineLib.Repository.ViewModels.ProfiEditViewModel

@{
    ViewBag.Title = "ProfilEdit";
}
<p class="text-success">@ViewBag.StatusMessage</p>
<h2>Profil Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal formbox col-sm-offset-4 col-sm-4">
        <h4>Change your data.</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div>
            @Html.ActionLink("Back to List", "Index", new object(), new { @class = "btn  btn-default pull-left " })
            <input type="submit" value="Update" class="btn btn-primary col-md-offset-3" />
        </div>
    </div>
}
@using (Html.BeginForm("PrintCard", "Account", FormMethod.Get))
{
    <div class="form-horizontal formbox col-sm-offset-4 col-sm-4" style="padding: 20px">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <h4>If you want books in libraries, please take this printed card with you</h4>
        <div>
            <input type="submit" value="Print User Card" class="btn btn-primary btn-block" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
